/*  common tag */
body {
    margin: 0px;
}

a{
    color: rgb(28, 28, 28);
    text-decoration-line: none;
}

h4 {
    margin-bottom: 0px;
}

/* header tag */
#header {
    margin-top: 30px;
    border-bottom: 1px rgb(128, 128, 128) solid;
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding-bottom: 30px;
}

#header h1 {
    margin-bottom: 0px;
}

#header .logo {
    margin-left: 90px;
    margin-right: 20px;
    align-items: center;
}

#header ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin-top: 24px;
}

#header li {
    padding-right: 40px;
    font-size: 30px;
}

#header .manu {
    display: flex;
    justify-content: space-between;
}


/* main tag */
#main {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#main .side_bar {
    border-right: 1px rgb(126, 126, 126) solid;
}

#main .main {
    padding-top: 20px;
    padding-bottom: 50px;
    margin-left: 25px;
}

/* footer tag */
#footer {
    display: flex;
    background-color: rgb(226, 226, 226);
    padding-top: 20px;
    padding-bottom: 30%;
    color:rgb(140, 140, 140);
}

#footer div {
    margin-left: 40px;
}

#footer h1 {
    margin-bottom: 5px;
}

#footer .multi_personal_info {
    list-style: none;
    display: flex;
    margin-top: 20px;
}
